MONGO_URI=mongodb+srv://gaurav12cbisht_db_user:8oGanjSlgSeiIhX8@youtubeadmin.e6tzoip.mongodb.net/?appName=youtubeadmin
JWT_SECRET=supersecretkey
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:5173
PORT=5000
